# Temporary and Cache Files
__pycache__/
*.py[cod]
*.session
logs/

# Virtual Environment and Databases
venv/
*.bat
*.db

# Neural Network Files
neural/datasets/*
neural/models/*

# Test Files
test*
